<%- include('./includes/head.ejs') %>
<%- include('./includes/navigation.ejs') %>
    <main>
        <form action="/admin/products-page" method="post">
            <input type="text" name="title" size="35"/>
            <button type="submit">Add Product</button>
        </form>
    </main>
</body>
</html>