<%- include('./includes/header.ejs') %>
<body>
    <form action="/app/" method="post">
        <input name="title" type="text"/>
        <button type="submit">Add User</button>
    </form>
</body>
</html>