<body>
    <header>
        <nav>
            <li class="<%= path === 'admin' ? 'add_anchor' : '' %>"><a href="/admin/products-page">Add Item</a></li>
            <li class="<%= path === 'shop' ? 'shop_anchor' : '' %>"><a href="/admin/">Shop</a></li>
        </nav>
    </header>