<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <li class="add_anchor"><a href="">Add Item</a></li>
            <li><a href="/admin/">Shop</a></li>
        </nav>
    </header>
    <main>
        <form action="/admin/products-page" method="post">
            <input type="text" name="title" size="35"/>
            <button type="submit">Add Product</button>
        </form>
    </main>
</body>
</html>